<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
   <appender name="consola" class="org.apache.log4j.ConsoleAppender">
      <param name="target" value="System.out"/>
      <layout class="org.apache.log4j.EnhancedPatternLayout">
         <!--<param name="ConversionPattern" value="%d{dd MMM yyyy - HH:mm:ss}[%-5p] :%m%n"/>-->
         <param name="ConversionPattern" value="%d{dd-MMM-yyyy HH:mm:ss} [%-5p] :%m%n"/>
      </layout>
   </appender>
            
   <appender name="errores" class="org.apache.log4j.RollingFileAppender">
      <param name="file" value="../logs/errores.log"/>
      <layout class="org.apache.log4j.EnhancedPatternLayout">
         <param name="ConversionPattern" value="%d{dd-MMM-yyyy HH:mm:ss} [%-5p]:%m%n"/>
      </layout>
      <filter class="org.apache.log4j.varia.LevelRangeFilter">
         <param name="LevelMin" value="warn"/>
         <param name="LevelMax" value="fatal"/>
         <param name="AcceptOnMatch" value="true"/>
      </filter>
      <filter class="org.apache.log4j.varia.DenyAllFilter"/>
   </appender>
 
   <appender name="mylog" class="org.apache.log4j.RollingFileAppender">
      <param name="File" value="../logs/infonomina.log" />
      <param name="Threshold" value="info"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{dd-MMM-yyyy HH:mm:ss} [%-5p] :%m%n"/>
      </layout>
      <filter class="org.apache.log4j.varia.LevelRangeFilter">
         <param name="LevelMin" value="info"/>
         <param name="LevelMax" value="fatal"/>
         <param name="AcceptOnMatch" value="true"/>
      </filter>
      <filter class="org.apache.log4j.varia.DenyAllFilter"/>
   </appender>
<!--            
   <appender name="errores" class="org.apache.log4j.FileAppender">
      <param name="file" value="../logs/errores.log"/>
      <param name="MaxFileSize" value="2000000" />
      <param name="MaxBackupIndex" value="5" />
      <layout class="org.apache.log4j.EnhancedPatternLayout">
         <param name="ConversionPattern" value="%d{DATE} [%-5p] %c{2} - %m%n" />
         <param name="ConversionPattern" value="%d{dd-MMM-yyyy HH:mm:ss} [%-5p]:%m%n"/>
      </layout>
      <filter class="org.apache.log4j.varia.LevelRangeFilter">
         <param name="LevelMin" value="warn"/>
         <param name="LevelMax" value="fatal"/>
         <param name="AcceptOnMatch" value="true"/>
      </filter>
      <filter class="org.apache.log4j.varia.DenyAllFilter"/>
   </appender>
 
   <appender name="mylog" class="org.apache.log4j.RollingFileAppender">
      <param name="File" value="../logs/infonomina.log" />
      <param name="MaxFileSize" value="2000000" />
      <param name="MaxBackupIndex" value="5" />
      <param name="Threshold" value="info" />
      <filter class="org.apache.log4j.varia.DenyAllFilter"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{dd-MMM-yyyy HH:mm:ss} [%-5p] :%m%n"/>
         <param name="ConversionPattern" value="%n%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%l] %n%m%n" />
      </layout>
      <filter class="org.apache.log4j.varia.LevelRangeFilter">
         <param name="LevelMin" value="info"/>
         <param name="LevelMax" value="fatal"/>
         <param name="AcceptOnMatch" value="true"/>
      </filter>
      <filter class="org.apache.log4j.varia.DenyAllFilter"/>
   </appender>-->
   
   <!--            
   <appender name="mylog" class="org.apache.log4j.FileAppender">
      <param name="file" value="../logs/infonomina.log"/>
      <layout class="org.apache.log4j.EnhancedPatternLayout">
         <param name="ConversionPattern" value="%d{DATE} [%-5p] %c{2} - %m%n" />
         <param name="ConversionPattern" value="%d{dd-MMM-yyyy HH:mm:ss} [%-5p] :%m%n"/>
      </layout>
   </appender>-->
   
   <!--   <appender name="mylog" class="org.apache.log4j.rolling.RollingFileAppender"> 
      <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy"> 
         <param name="FileNamePattern" value="../logs/infonomina.%i.log" /> 
         <param name="MaxIndex" value="10"/> 
      </rollingPolicy> 
      <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy"> 
         <param name="MaxFileSize" value="3000"/>
      </triggeringPolicy> 
      <layout class="org.apache.log4j.EnhancedPatternLayout">
         <param name="ConversionPattern" value="%d{DATE} [%-5p] %c{2} - %m%n" />
         <param name="ConversionPattern" value="%d{dd-MMM-yyyy HH:mm:ss} [%-5p] :%m%n"/>
      </layout>
   </appender>-->
        
   <root>
      <priority value="trace"/>
      <appender-ref ref="consola"/>
      <appender-ref ref="errores"/>
      <appender-ref ref="mylog"/>
      <!--<appender-ref ref="PRIMARY_APPENDER"/>-->
   </root>
 
</log4j:configuration>